[dir='rtl'] .dropdown-end .dropdown-content {
	left: 0;
	right: auto;
}

body[dir='rtl'] .checkbox:checked,
body[dir='rtl'] .checkbox[checked='true'],
body[dir='rtl'] .checkbox[aria-checked='true'] {
	background: linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 65.99%),
		linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
		linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%),
		linear-gradient(
			45deg,
			hsl(var(--chkbg)) 30%,
			hsl(var(--chkfg)) 30.99%,
			hsl(var(--chkfg)) 40%,
			transparent 40.99%
		),
		linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%) !important;
}

body[dir='rtl'] .checkbox-primary {
	--chkbg: var(--p) !important;
	--chkfg: var(--pc) !important;
}
